nav{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
}


.seccioncards{
    background-color: rgb(7, 142, 166);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

form{
    background-color: #e67e22;
}

.acercademi p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

